body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #3366ff;
}

p {
  font-size: 18px;
}
button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

h2 {
  font-size: 48px;
}
